*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Display';
    font-style: normal;
}

.m-center{
    width: 100%;
    margin-left: 20%;
    /* background: #E5E5E5; */
    /* background: #F5F5F7 */
    background: #f8f8fd;
    padding-bottom: 100px;
}
.m-header{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.m-header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    background: white;
    padding-right: 50px;
    padding-left: 50px;


}
.m-login{
    display: flex;
    gap: 20px;
}
.m-header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
    background: white;
    padding-right: 50px;



}
.m-search, .m-sort{
    display: flex;
    align-items: center;
    gap: 5%;
    /* width: 50%; */
}
.m-search{
    justify-content: flex-start;
    gap: 10%;
    width: 35%;
}
.m-search input{
    width: 90%;
    border: none;
    padding-left: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
    outline: none;


font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #9C9CA4;
}

.m-sort > div{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 50%;
    border: 1px solid #F5F5F7;
    border-radius: 10px;
    padding: 0px 20px;
    width: 126px;
    height: 50px;
    cursor: pointer;
}



.myc-description p{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #141522;
    
}

.myc-flex1{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.myc-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #9C9CA4;
}















@media only screen and (max-width: 1100px) {
    .m-center{
        margin-left: 5%;
    }
    .m-header1{
        flex-direction: column-reverse;
    align-items: flex-start;
    gap: 30px;
    }
    .m-login{
        align-self: flex-end;
        z-index: 10;
        margin-top: -27px;
    }
    .m-header2{
        padding-inline: 5%;
    }
}


@media only screen and (max-width: 700px) {

}



@media only screen and (max-width: 500px) {

    .m-header2{
        flex-direction: column;
        gap: 20px;
    }
    .m-search{
        width: 100%;
    }
}

