*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Display';
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
}

.m-center{
    width: 100%;
    margin-left: 20%;
    /* background: #E5E5E5; */
    /* background: #F5F5F7 */
    background: #f8f8fd;
    padding-bottom: 100px;
}
.m-header{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.m-header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    background: white;
    padding-right: 50px;
    padding-left: 50px;


}
.m-login{
    display: flex;
    gap: 20px;
}
.m-header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
    background: white;
    padding-right: 50px;
    padding-left: 50px;


}
.m-search, .m-sort{
    display: flex;
    align-items: center;
    gap: 5%;
    /* width: 50%; */
}
.m-search{
    justify-content: flex-start;
    gap: 10%;
    width: 35%;
}
.m-search input{
    width: 90%;
    border: none;
    padding-left: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
    outline: none;


font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #9C9CA4;
}

.m-sort > div{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 50%;
    border: 1px solid #F5F5F7;
    border-radius: 10px;
    padding: 0px 20px;
    width: 126px;
    height: 50px;
    cursor: pointer;
}

.myc-description{
    margin-top: 20px;
}


.myc-flex1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.myc-rating{
    justify-self: flex-end;
}

.myc-description .myc-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #9C9CA4;
}

.myc-description h2{
    width: 90%;
    font-size: 20px;
}

.myc-courses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    background: #FFFFFF;
}
.myc-course{
    width: 28%;
    min-width: 250px;
    margin-bottom: 50px;
    cursor: pointer;
}
.myc-course > img{
    width: 100%;
}

.myc-complete{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.myc-bg-gray{
    width: 100%;
    height: 5px;
    border-radius: 10px;

    background: #F5F5F7;
        position: absolute;
    top: 0;
}
.myc-bg-green{
    width: 60%;
    background: #25C78B;
        height: 5px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.myc-bg-yellow{
    width: 30%;
    background: #FFBB54;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 100;
}


.myc-flex2{
    display: flex;
    justify-content: space-between;
}












@media only screen and (max-width: 1100px) {
    .m-center{
        margin-left: 5%;
    }
    .m-header1{
        flex-direction: column-reverse;
    align-items: flex-start;
    gap: 30px;
    }
    .m-login{
        align-self: flex-end;
        z-index: 10;
        margin-top: -27px;
    }
    .m-header2{
        padding-inline: 5%;
    }
    .myc-sort-options{
        right: 11%;
    }
}


@media only screen and (max-width: 700px) {

}


@media only screen and (max-width: 600px) {
    .myc-course{
        width: 80%;
    }
}


@media only screen and (max-width: 500px) {

    .m-header2{
        flex-direction: column;
        gap: 20px;
    }
    .m-search{
        width: 100%;
    }
    .myc-course{
        width: 80%;
    }
}









.myc-sorts{
    display: flex;
    gap: 20px;
}

.myc-sort-click{
    padding: 0px 20px;
    display: flex;
    align-items: center;
gap: 14px;

width: 96px;
height: 50px;

/* Neutral/Soft Grey */

border: 1px solid #F5F5F7;
border-radius: 10px;

}
.myc-sort-options{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 300px;
    z-index: 10000;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #141522;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    position: absolute;
    right: 25%;
    /* top: 34%; */
    display: none;

}
.myc-sort-options div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.myc-sort-options .active{
    background: black;
    color: white;
}
.myc-sort-options h2{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #141522;
}
.myc-sort-option{
    padding: 9px 30px;
    width: 74px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #F5F5F7;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}